{% extends 'base.html' %} {% block content %}

    <div id="room-container">
        <h1 id="home-header">Chat 💬</h1>
        {% if error %}
            <p id="error">{{ error }}</p>
        {% endif %}

        <form method="post" id="chat-widget-home">
            <div id="code-input-container">
                <label for="code" id="code-label">Enter new chat room name</label>
                <input type="text" id="room_name" name="room_name" placeholder="Enter name" value="{{ room_name }}"/>
                <button type="submit" id="create" name="create">Create</button>
            </div>
        </form>
    </div>
    <div id="room-list">
        <h2 id="room-list-header">Available Rooms</h2>
        <ul id="room-ul">
            {% for room in rooms %}
                <li id="room-{{ room['room_code'] }}" class="room-item">
                    <a href="{{ url_for('main.room', room_code=room['room_code']) }}" class="room-link">{{ room['room_name'] }}</a>
{#                    <p class="room-description">{{ room['description'] }}</p>#}
{#                    <span class="room-timestamp">{{ room['timestamp'] }}</span>#}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}